<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-toggle" ng-repeat="contact in contacts" type="item-text-wrap">
        <img ng-src="{{contact.face}}">
        <h2>{{contact.name}}</h2>
        <h4>{{contact.lastText}}</h4>
        <p>Las position: 1 min ago</p>
        <label class="toggle">
          <input type="checkbox" ng-model="contact.available">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
